[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = ">=2.10"
ipaddress = ">=1.0.22"
pyyaml = ">=5.1"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
