---
name: Example template

variables:
  variable1:
    default:      "example"
    description:  "example variable"
  variable2:
    default:
      - value: 0
        name: zero
      - value: 1
        name: one
---
This is an {{ variable1 }} file.

{% for variable in variable2 %}
  This is a {{ variable.name }} : {{ variable.value }}
{% endfor %}

{{ variable3 }}
